body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
}

header div {
  display: inline-block;
}

.header_button {
  float: right;
  padding: 20px 100px;
}

button {
  padding: 10px 30px;
  font-family: Avenir, "Times New Roman", Times, serif;
  font-size: 1.5em;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  border: 1px solid #C0C0C0;
  border-radius: 50px;
  color: white;
}

.signature {
  font-size: 66%;
}

.left_side figure {
  margin: 10px 70px;
}

.left_side a:visited,
.left_side a:hover,
.left_side a:link,
.left_side a:active {
  text-decoration: none;
  color: white;
}

.left_side a {
  font-family: Avenir, "Times New Roman", Times, serif;
  text-shadow: 1px 1px 2px black, 0 0 1em #191970;
  font-size: 2em;
}

main{
  background-color: #E6E6FA;
  color: #2F4F4F;
}

.photo {
  display: inline-block;
  width: 30%;
}

img {
  width: 100%;
  border-radius: 10px;
}

.photos {
  text-align: center;
}

.start {
  margin: 0;
  padding: 3em 1em 1em 3em;
  text-align: center;
}

.built {
  margin: 0;
  padding: 1em 1em 1em 3em;
  text-align: center;
}

main p:last-child {
  padding-bottom: 1em;
}

.story p {
  padding-left: 6em;
  font-size: 1.5em;
}

footer {
  background: linear-gradient(45deg, #1E90FF, #EECFBA, #C5DDE8);
  color: #2F4F4F;
}

footer h1,
main p {
  margin: 0;
  padding: 0 10%;
}

.footer_blocks {
  display: flex;
}

.footer_inf {
  width: 40%;
  padding: 2% 10%;
  font-size: 18px;
}

footer ul {
  text-align: center;
  list-style-type: none;
  padding: 20px 50px;
  margin-bottom: 0;
}

.company,
.useful_links {
  font-size: 20px;
}

.company a:visited,
.company a:hover,
.company a:link,
.company a:active {
  text-decoration: none;
  color: #2F4F4F;;
}

.useful_links a:visited,
.useful_links a:hover,
.useful_links a:link,
.useful_links a:active {
  text-decoration: none;
  color: #2F4F4F;
}

.company ul li:first-child,
.useful_links ul li:first-child {
  text-decoration: underline;
  padding-bottom: 10px;
}

hr {
  width: 75%;
}

.copyright {
  text-align: center;
  padding: 10px 0;
}
